body {
  background: #dbdbdb;
}
.title {
  color: #ff5100;
  text-align: center;
  font-family: 'Changa', sans-serif;
}
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .20 {
  color: #ff5100;
  display: block;
  font-family: 'Changa', sans-serif;
}
  
