body {
  background: #dbdbdb;
}
.title {
  color: #ff5100;
  text-align: center;
  font-family: 'Changa', sans-serif;
}
.content {
  color: #ff5100;
  display: block;
  font-family: 'Changa', sans-serif;
}
  
