body {
  background: #dbdbdb;
}
.title {
  font-family: 'Orbitron', sans-serif;
  color: #ff5100;
  text-align: center;
}
.ipsum {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
.link1, .links2, .jisho, .page1 {
  font-family: 'Electrolize', sans-serif;
  color: #ff5100;
}
