body {
  background: #dbdbdb;
}
.title {
  font-family: 'Orbitron', sans-serif;
  color: #ff5100;
  text-align: center;
}
.ipsum {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
.links {
  font-family: 'Electrolize', sans-serif;
  color: #ff5100;
}
.gore {
  color: #fc0303;
}
