body {
  background-color:black;
}
a {
  font-family:Times New Roman;
  color:yellow;
  font-style:italic;
}
p {
  font-family:Brush Script MT;
  color:cyan;
  text-align:center;
}
p { 
  font-family:verdana;
  color:red;
  text-align:center;
}
iframe {
  text-align:center;
}
